google_analytics_page_views_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.views_total_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_total_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_total_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_pdf_book_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_pdf_book_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_pdf_chapter_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_pdf_chapter_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_html_chapter_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_html_chapter_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_epub_book_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_epub_book_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_epub_chapter_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_epub_chapter_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),
google_analytics_downloads_mobi_book_month_country as (
    SELECT
        ISBN13,
        month,
        google.country_name,
        country.alpha2 as country_code,
        value
    FROM
        (
            SELECT
                ISBN13,
                month,
                name as country_name,
                value,
            FROM
                months,
                UNNEST(google_analytics.downloads_mobi_book_country)
        ) as google
        LEFT JOIN `{{ country_table_id }}` as country on country.google_analytics_name = google.country_name
),