interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eventdata.crossref.org/v1/events?mailto=agent@observatory.academy&from-collected-date=2018-05-14&until-collected-date=2021-05-21&rows=1000&obj-id=10.4444/111.4444444444444
  response:
    body:
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":"4e7f158d-fdcb-4573-a259-ce2c87a23c86","total-results":1,"items-per-page":1000,"events":[{"license":"my.url/fake","obj_id":"https:\/\/doi.org\/10.4444\/111.4444444444444","source_token":"random string","occurred_at":"2019-09-19T14:27:19Z","subj_id":"my.url/fake","id":"111-111-111","evidence_record":"my.url/fake","terms":"my.url/fake","action":"add","subj":{"pid":"my.url/fake","url":"my.url/fake","title":"A book title","work_type_id":"entry-encyclopedia","api-url":"my.url/fake"},"source_id":"wikipedia","obj":{"pid":"https:\/\/doi.org\/10.4444\/111.4444444444444","url":"my.url/fake","method":"doi-literal","verification":"literal"},"timestamp":"2020-02-07T14:29:53Z","relation_type_id":"references"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eventdata.crossref.org/v1/events?mailto=agent@observatory.academy&from-collected-date=2018-05-14&until-collected-date=2021-05-21&rows=1000&obj-id=10.4444/111.4444444444444&cursor=4e7f158d-fdcb-4573-a259-ce2c87a23c86
  response:
    body:
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":1,"items-per-page":1000,"events":[]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eventdata.crossref.org/v1/events?mailto=agent@observatory.academy&from-collected-date=2018-05-14&until-collected-date=2021-05-21&rows=1000&obj-id=10.112/111.112&cursor=4939d774-00f1-4452-ac41-7ddd999d2112
  response:
    body:
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":1,"items-per-page":1000,"events":[]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1