.idea
venv
dist
.vscode
docs/_build
*.pkrvars.hcl
.coverage
coverage.xml
*.pyc
AUTHORS
ChangeLog
.DS_Store
docs/schemas
*.Rhistory
.env
__pycache__
/oaebu-workflows/build

# Astronomer
/tests/
airflow_settings.yaml