beautifulsoup4>=4.9.3,<5
faker>=8.12.1,<9
Markdown==3.3.4 # prevent error: INSTALLED_EXTENSIONS = metadata.entry_points(group='markdown.extensions') TypeError: entry_points() got an unexpected keyword argument 'group'