# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
astronomer-starship>=2,<3
beautifulsoup4>=4.9.3,<5
onixcheck>=0.9.7,<1
ratelimit>=2.2.1,<3
oauth2client==4.1.3 

# Tests
liccheck>=0.4.9,<1
flake8>=3.8.0,<4
coverage>=5.2,<6
faker>=8.12.1,<9
vcrpy>=4.1.1,<5
responses>=0,<1