internet_archive_metrics as (
    SELECT
        ISBN13,
        release_date,
        STRUCT(
            SUM(value) as total_downloads
        ) as metrics
    FROM
        `{{ internet_archive_table_id }}`
    GROUP BY
        ISBN13,
        release_date
),
# Internet Archive Metadata
internet_archive_metadata as (
    SELECT
        ISBN13,
        MAX(title) as book_title
    FROM
        `{{ internet_archive_table_id }}`
    GROUP BY
        ISBN13
),