interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://export.thoth.pub/specifications/onix_3.0::oapen/publisher/fake_publisher_id
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<ONIXMessage xmlns=\"http://ns.editeur.org/onix/3.0/reference\"
        release=\"3.0\">\n  <Header>\n    <Sender>\n      <SenderName>Thoth</SenderName>\n
        \     <EmailAddress>info@thoth.pub</EmailAddress>\n    </Sender>\n    <SentDateTime>20230210</SentDateTime>\n
        \ </Header>\n  <Product>\n    <RecordReference>urn:uuid:a28326e3-e86b-4e6c-8538-4ed0306d4259</RecordReference>\n
        \   <NotificationType>03</NotificationType>\n    <RecordSourceType>01</RecordSourceType>\n
        \   <ProductIdentifier>\n      <ProductIDType>01</ProductIDType>\n      <IDValue>urn:uuid:a28326e3-e86b-4e6c-8538-4ed0306d4259</IDValue>\n
        \   </ProductIdentifier>\n    <ProductIdentifier>\n      <ProductIDType>15</ProductIDType>\n
        \     <IDValue>9781800644069</IDValue>\n    </ProductIdentifier>\n    <ProductIdentifier>\n
        \     <ProductIDType>06</ProductIDType>\n      <IDValue>10.11647/OBP.0290</IDValue>\n
        \   </ProductIdentifier>\n    <DescriptiveDetail>\n      <ProductComposition>00</ProductComposition>\n
        \     <ProductForm>EB</ProductForm>\n      <ProductFormDetail>E107</ProductFormDetail>\n
        \     <PrimaryContentType>10</PrimaryContentType>\n      <EpubLicense>\n        <EpubLicenseName>Creative
        Commons License</EpubLicenseName>\n        <EpubLicenseExpression>\n          <EpubLicenseExpressionType>02</EpubLicenseExpressionType>\n
        \         <EpubLicenseExpressionLink>https://creativecommons.org/licenses/by-nc-nd/4.0/</EpubLicenseExpressionLink>\n
        \       </EpubLicenseExpression>\n      </EpubLicense>\n      <TitleDetail>\n
        \       <TitleType>01</TitleType>\n        <TitleElement>\n          <TitleElementLevel>01</TitleElementLevel>\n
        \         <TitleText>A Common Good Approach to Development</TitleText>\n          <Subtitle>Collective
        Dynamics of Development Processes</Subtitle>\n        </TitleElement>\n      </TitleDetail>\n
        \     <Contributor>\n        <SequenceNumber>1</SequenceNumber>\n        <ContributorRole>B01</ContributorRole>\n
        \       <NameIdentifier>\n          <NameIDType>21</NameIDType>\n          <IDValue>0000-0003-1718-2608</IDValue>\n
        \       </NameIdentifier>\n        <NamesBeforeKey>Mathias</NamesBeforeKey>\n
        \       <KeyNames>Nebel</KeyNames>\n      </Contributor>\n      <Contributor>\n
        \       <SequenceNumber>2</SequenceNumber>\n        <ContributorRole>B01</ContributorRole>\n
        \       <NamesBeforeKey>Oscar</NamesBeforeKey>\n        <KeyNames>Garza-V\xE1zquez</KeyNames>\n
        \     </Contributor>\n      <Contributor>\n        <SequenceNumber>3</SequenceNumber>\n
        \       <ContributorRole>B01</ContributorRole>\n 
        \       <KeyNames>Sedmak</KeyNames>\n      </Contributor>\n      <Language>\n
        \       <LanguageRole>01</LanguageRole>\n        <LanguageCode>eng</LanguageCode>\n
        \     </Language>\n      <Extent>\n        <ExtentType>00</ExtentType>\n        <ExtentValue>400</ExtentValue>\n
        \       <ExtentUnit>03</ExtentUnit>\n      </Extent>\n      <Subject>\n        <SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n
        \       <SubjectHeadingText>development theory</SubjectHeadingText>\n      </Subject>\n
        \     <Subject>\n        <SubjectSchemeIdentifier>04</SubjectSchemeIdentifier>\n
        \       <SubjectCode>HN49.C6</SubjectCode>\n      </Subject>\n      <Subject>\n
        \       <SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n        <SubjectCode>KCR</SubjectCode>\n
        \     </Subject>\n      <Subject>\n        <SubjectSchemeIdentifier>10</SubjectSchemeIdentifier>\n
        \       <SubjectCode>SOC045000</SubjectCode>\n      </Subject>\n      <Subject>\n
        \       <SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n        <SubjectHeadingText>development
        practice</Sub[...]
