# The purpose of this block of SQL is to organise the metrics from JSTOR institution for easier consumption of downstream queries.
# Defined in the create_oaebu_book_product_table method, in onix_workflow.py, is the value of 'jstor_institution_table_id'.
jstor_institution_metrics as (
    SELECT
        eISBN as ISBN13,
        release_date,
        group_items_jstor_institution(
            ARRAY_AGG(STRUCT(Institution, Total_Item_Requests))
        ) as metrics
    FROM
        `{{ jstor_institution_table_id }}`
    GROUP BY
        eISBN,
        release_date
),

# The purpose of this block of SQL is to organise the Metadata from JSTOR institution for easier consumption of downstream queries.
# Defined in the create_oaebu_book_product_table method, in onix_workflow.py, is the value of 'jstor_institution_table_id'.
jstor_institution_metadata as (
    SELECT
        eISBN as ISBN13,
        MAX(Book_Title) as Book_Title,
        MAX(Book_ID) as Book_ID,
        MAX(Authors) as Authors,
        MAX(ISBN) as ISBN,
        eISBN,
        MAX(Copyright_Year) as Copyright_Year,
        MAX(Disciplines) as Disciplines,
        MAX(Usage_Type) as Usage_Type
    FROM
        `{{ jstor_institution_table_id }}`
    GROUP BY
        eISBN
)