interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://library.oapen.org/download-export?format=onix
      response:
          body:
              string:
                  "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ONIXMessage xmlns=\"http://ns.editeur.org/onix/3.0/reference\"\
                  \ release=\"3.0\">\n<Header>\n <Sender>\n <SenderName>OAPEN Foundation</SenderName>\n\
                  \ <EmailAddress>info@oapen.org</EmailAddress>\n </Sender>\n <SentDateTime>20221130</SentDateTime>\n\
                  </Header></ONIXMessage>"
          headers:
              Content-Disposition:
                  - attachment; filename=repository-export.onix_3.0.xml
              Content-Language:
                  - en-US
              Content-Type:
                  - application/text;charset=UTF-8
              X-Cocoon-Version:
                  - 2.2.0
          status:
              code: 200
              message: OK
version: 1
