interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://irus.jisc.ac.uk/api/v3/irus/reports/irus_ir/?platform=235&requestor_id=fake_api_login&begin_date=2022-04&end_date=2022-04&attributes_to_show=Country
  response:
    body:
      string: "{\"Report_Header\":{\"Report_Name\":\"IRUS Custom Item Master Report\",\"Report_ID\":\"IRUS_IR\",\"Release\":\"5\",\"Institution_Name\":\"University of Unit Tests\",\"Report_Filters\":{\"Begin_Date\":\"2022-05-01\",\"End_Date\":\"2022-05-31\",\"Platform\":\"235\"},\"Report_Attributes\":{\"Attributes_To_Show\":\"Country\"},\"Created\":\"2023-01-20T03:08:46Z\",\"Created_By\":\"IRUS
        on behalf of Curtin University\",\"API_Version\":\"3.1\"},\"Report_Items\":[       
        {\"Item\":\"Fake Book 1\",\"Publisher\":\"Fake Publisher 1\",\"Authors\":\"Doe,
        John\",\"OAI_ID\":\"oai:fulcrum.org:string1\",\"IRUS_Item_Type\":\"{Unspecified}\",\"Repository\":{\"Repository_ID\":235,\"Repository_Name\":\"Fulcrum\"},\"IRUS_Item_ID\":\"111\",\"Performance_Instances\":[{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"AA\",\"Country\":\"Fake Country 1\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":1,\"Unique_Item_Investigations\":1}}]},       
        {\"Item\":\"Fake Book 2\",\"Publisher\":\"Fake Publisher 2\",\"Authors\":\"Doe, Jane\",\"OAI_ID\":\"oai:fulcrum.org:string2\",\"IRUS_Item_Type\":\"{Unspecified}\",\"Repository\":{\"Repository_ID\":235,\"Repository_Name\":\"Fulcrum\"},\"IRUS_Item_ID\":\"222\",\"Performance_Instances\":[{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"AA\",\"Country\":\"Fake Country 1\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":2,\"Unique_Item_Investigations\":2}},{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"BB\",\"Country\":\"Fake Country 2\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":2,\"Unique_Item_Investigations\":2}},{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"CC\",\"Country\":\"Fake Country 3\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":2,\"Unique_Item_Investigations\":2}},{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"DD\",\"Country\":\"Fake Country 4\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":2,\"Total_Item_Requests\":2,\"Unique_Item_Investigations\":2,\"Unique_Item_Requests\":2}}]},       
        {\"Item\":\"Fake Book 3\",\"Publisher\":\"Fake Publisher 3\",\"Authors\":\"Doe, John J.\",\"ISBN\":\"3333333333333\",\"OAI_ID\":\"oai:fulcrum.org:string3\",\"IRUS_Item_Type\":\"{Unspecified}\",\"Repository\":{\"Repository_ID\":235,\"Repository_Name\":\"Fulcrum\"},\"IRUS_Item_ID\":\"333\",\"Performance_Instances\":[{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"AA\",\"Country\":\"Fake Country 1\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":3,\"Total_Item_Requests\":3,\"Unique_Item_Investigations\":3,\"Unique_Item_Requests\":3}}]}, 
        {\"Item\":\"Fake Book 4\",\"Publisher\":\"Fake Publisher 4\",\"Authors\":\"Doe, Jane J.\",\"OAI_ID\":\"oai:fulcrum.org:string4\",\"IRUS_Item_Type\":\"{Unspecified}\",\"Repository\":{\"Repository_ID\":235,\"Repository_Name\":\"Fulcrum\"},\"IRUS_Item_ID\":\"444\",\"Performance_Instances\":[{\"Event_Month\":\"2022-05\",\"Country\":{\"Country_Code\":\"AA\",\"Country\":\"Fake Country 1\"},\"Metric_Type_Counts\":{\"Total_Item_Investigations\":4,\"Total_Item_Requests\":4,\"Unique_Item_Investigations\":4,\"Unique_Item_Requests\":4}}]}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://irus.jisc.ac.uk/api/v3/irus/reports/irus_ir/?platform=235&requestor_id=fake_api_login&begin_date=2022-04&end_date=2022-04
  response:
    body:
      string: "{\"Report_Header\":{\"Report_Name\":\"IRUS Custom Item Master Report\",\"Report_ID\":\"IRUS_IR\",\"Release\":\"5\",\"Institution_Name\":\"University of Unit Tests\",\"Report_Filters\":{\"Begin_Date\":\"2022-05-01\",\"End_Date\":\"2022-05-31\",\"Platform\":\"235\"},\"Cr[...]
