# The purpose of this block of SQL is to organise the metrics from IRUS OAPEN for easier consumption of downstream queries.
# Defined in the create_oaebu_book_product_table method, in onix_workflow.py, is the value of 'oapen_table_id'.
irus_oapen_metrics as (
    SELECT
        ISBN as ISBN13,
        release_date,
        STRUCT(
            MAX(version) as version,
            SUM(title_requests) as title_requests,
            SUM(total_item_investigations) as total_item_investigations,
            SUM(total_item_requests) as total_item_requests,
            SUM(unique_item_investigations) as unique_item_investigations,
            SUM(unique_item_requests) as unique_item_requests,
            group_items_irus_country(ARRAY_CONCAT_AGG(country)) as country,
            group_items_irus_location(ARRAY_CONCAT_AGG(locations)) as locations
        ) as metrics
    FROM
        `{{ irus_oapen_table_id }}`
    GROUP BY
        ISBN,
        release_date
),

# The purpose of this block of SQL is to organise the Metadata from IRUS OAPEN for easier consumption of downstream queries.
# Defined in the create_oaebu_book_product_table method, in onix_workflow.py, is the value of 'irus_oapen_table_id'.
irus_oapen_metadata as (
    SELECT
        ISBN as ISBN13,
        MAX(book_title) as book_title,
        MAX(publisher) as publisher
    FROM
        `{{ irus_oapen_table_id }}`
    GROUP BY
        ISBN
)
