{# Copyright 2020-2023 Curtin University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author: Richard Hosking. Keegan Smith #}

WITH months AS (select * FROM {{ book_product_table_id }}, UNNEST(months) AS month),

countries as (
    SELECT
        alpha2,
        iso_name,
        wikipedia_name,
        jstor_name
    FROM `{{ country_table_id }}`
),

month_country as (
    SELECT
        ISBN13,
        work_id,
        work_family_id,
        onix.title,
        CAST(onix.published_year as INT64) as published_year,
        month,
        alpha2,
        iso_name as country_name,
        iso_name as country_iso_name,
        wikipedia_name as country_wikipedia_name,
        jstor_name as country_jstor_name
    FROM months
    CROSS JOIN countries
),

{% for dp in data_partners %}
    {% if dp.export_country_body %}
        {% include dp.files.export_country_body %}{% if not loop.last %}, {% endif %}
    {% endif %}
{% endfor %}


SELECT
    month_country.ISBN13 as product_id,
    month_country.work_id as work_id,
    month_country.work_family_id as work_family_id,
    month_country.title,
    month_country.published_year,
    month_country.month,
    month_country.alpha2 as country_code,
    month_country.country_name,
    month_country.country_iso_name,
    month_country.country_wikipedia_name,
    {% for dp in data_partners %}
        {% if dp.export_country_struct %}
            {% include dp.files.export_country_struct %}{% if not loop.last %}, {% endif %}
        {% endif %}
    {% endfor %}
FROM month_country
    {% for dp in data_partners %}
        {% if dp.export_country_join %}
            {% include dp.files.export_country_join %}
        {% endif %}
    {% endfor %}
WHERE 
    {% for dp in data_partners %}
        {% if dp.export_country_null %}
            {% include dp.files.export_country_null %}{% if not loop.last %}OR {% endif %}
        {% endif %}
    {% endfor %}