interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://library.oapen.org/download-export?format=onix
      response:
          body:
              string:
                  "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ONIXMessage xmlns=\"http://ns.editeur.org/onix/3.0/reference\"\
                  \ release=\"3.0\">\n<Header>\n <Sender>\n <SenderName>OAPEN Foundation</SenderName>\n\
                  \ <EmailAddress>info@oapen.org</EmailAddress>\n </Sender>\n <SentDateTime>20221130</SentDateTime>\n\
                  </Header>\n<Product>\n<RecordReference>OAPEN-ID_5fd15d8e-628e-4e16-9dd8-f1b07b37efa7</RecordReference>\n\
                  <NotificationType>03</NotificationType>\n<RecordSourceType>00</RecordSourceType>\n\
                  <ProductIdentifier>\n<ProductIDType>01</ProductIDType>\n<IDTypeName>OAPEN\
                  \ Library ID</IDTypeName>\n<IDValue>ONIX_20201001_9783653064650_196</IDValue>\n\
                  </ProductIdentifier>\n<ProductIdentifier>\n<ProductIDType>15</ProductIDType>\n\
                  <IDValue>9783653064650</IDValue>\n</ProductIdentifier>\n<ProductIdentifier>\n\
                  <ProductIDType>06</ProductIDType>\n<IDValue>10.3726/978-3-653-06465-0</IDValue>\n\
                  </ProductIdentifier>\n<DescriptiveDetail>\n<ProductComposition>00</ProductComposition>\n\
                  <ProductForm>EB</ProductForm>\n<ProductFormDetail>E107</ProductFormDetail>\n\
                  <PrimaryContentType>10</PrimaryContentType>\n<EpubLicense>\n<EpubLicenseName>Open\
                  \ license</EpubLicenseName>\n<EpubLicenseExpression>\n<EpubLicenseExpressionType>02</EpubLicenseExpressionType>\n\
                  <EpubLicenseExpressionLink>https://creativecommons.org/licenses/by-nc-nd/4.0</EpubLicenseExpressionLink>\n\
                  </EpubLicenseExpression>\n</EpubLicense>\n<Collection>\n<CollectionType>10</CollectionType>\n\
                  <TitleDetail>\n<TitleType>01</TitleType>\n<TitleElement>\n<TitleElementLevel>02</TitleElementLevel>\n\
                  <TitleText>\xC9tudes luxembourgeoises / Luxemburg-Studien</TitleText>\n</TitleElement>\n\
                  </TitleDetail>\n</Collection>\n<TitleDetail>\n<TitleType>01</TitleType>\n\
                  <TitleElement>\n<TitleElementLevel>one</TitleElementLevel>\n<TitleText>Identitaetsbildung\
                  \ und Partizipation im 19. und 20. Jahrhundert</TitleText>\n<Subtitle>Luxemburg\
                  \ im europaeischen Kontext</Subtitle>\n</TitleElement>\n</TitleDetail>\n<Contributor>\n\
                  <SequenceNumber>1</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n\
                  <NamesBeforeKey>Norbert</NamesBeforeKey>\n<KeyNames>Franz</KeyNames>\n</Contributor>\n\
                  <Contributor>\n<SequenceNumber>2</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n\
                  <NamesBeforeKey>Thorsten</NamesBeforeKey>\n<KeyNames>Fuchshuber</KeyNames>\n\
                  </Contributor>\n<Contributor>\n<SequenceNumber>3</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n\
                  <NamesBeforeKey>Sonja</NamesBeforeKey>\n<KeyNames>Kmec</KeyNames>\n</Contributor>\n\
                  <Contributor>\n<SequenceNumber>4</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n\
                  <NamesBeforeKey>Jean-Paul</NamesBeforeKey>\n<KeyNames>Lehners</KeyNames>\n\
                  </Contributor>\n<Contributor>\n<SequenceNumber>5</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n\
                  <NamesBeforeKey>Ren\xE9e</NamesBeforeKey>\n<KeyNames>Wagener</KeyNames>\n\
                  </Contributor>\n<Language>\n<LanguageRole>01</LanguageRole>\n<LanguageCode>ger</LanguageCode>\n\
                  </Language>\n<Extent>\n<ExtentType>00</ExtentType>\n<ExtentValue>455</ExtentValue>\n\
                  <ExtentUnit>03</ExtentUnit>\n</Extent>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n\
                  <SubjectCode>HBTB</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n\
                  <SubjectCode>HD</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n\
                  <SubjectCode>JFSJ1</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n\
                  <SubjectCode>JPA</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n\
         [...]
