{# Copyright 2020-2024 Curtin University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author: Richard Hosking, Keegan Smith #}
{#
The purpose of this script it to export the unique book list from the book_product table
#}

SELECT
    ISBN13 as product_id,
    work_id,
    work_family_id,
    onix.ProductForm,
    (ARRAY_LENGTH(months) > 0) as usage_flag,
    onix.EditionNumber,
    CAST(onix.published_year as INT64) as published_year,
    onix.published_date as published_date,
    (SELECT p.publisher_name as publisher_name FROM UNNEST(onix.publisher) as p WHERE p.publishing_role = "Publisher" LIMIT 1) as publisher_name,
    onix.title,
    onix.keywords,
    STRUCT(
        PersonName as person_name,
        PersonNameInverted as person_name_inverted,
        ORCID as ORCID
    ) as authors,
    STRUCT(
        onix.bic_subjects as bic,
        onix.bisac_subjects as bisac,
        onix.thema_subjects as thema
    ) as subjects
FROM `{{ book_product_table_id }}`, UNNEST(onix.authors)
