interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://library.oapen.org/download-export?format=onix
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ONIXMessage xmlns=\"http://ns.editeur.org/onix/3.0/reference\"
        release=\"3.0\">\n<Header>\n <Sender>\n <SenderName>OAPEN Foundation</SenderName>\n
        <EmailAddress>info@oapen.org</EmailAddress>\n </Sender>\n <SentDateTime>20221130</SentDateTime>\n</Header>\n<Product>\n<RecordReference>OAPEN-ID_5fd15d8e-628e-4e16-9dd8-f1b07b37efa7</RecordReference>\n<NotificationType>03</NotificationType>\n<RecordSourceType>00</RecordSourceType>\n<ProductIdentifier>\n<ProductIDType>01</ProductIDType>\n<IDTypeName>OAPEN
        Library ID</IDTypeName>\n<IDValue>ONIX_20201001_9783653064650_196</IDValue>\n</ProductIdentifier>\n<ProductIdentifier>\n<ProductIDType>15</ProductIDType>\n<IDValue>9783653064650</IDValue>\n</ProductIdentifier>\n<ProductIdentifier>\n<ProductIDType>06</ProductIDType>\n<IDValue>10.3726/978-3-653-06465-0</IDValue>\n</ProductIdentifier>\n<DescriptiveDetail>\n<ProductComposition>00</ProductComposition>\n<ProductForm>EB</ProductForm>\n<ProductFormDetail>E107</ProductFormDetail>\n<PrimaryContentType>10</PrimaryContentType>\n<EpubLicense>\n<EpubLicenseName>Open
        license</EpubLicenseName>\n<EpubLicenseExpression>\n<EpubLicenseExpressionType>02</EpubLicenseExpressionType>\n<EpubLicenseExpressionLink>https://creativecommons.org/licenses/by-nc-nd/4.0</EpubLicenseExpressionLink>\n</EpubLicenseExpression>\n</EpubLicense>\n<Collection>\n<CollectionType>10</CollectionType>\n<TitleDetail>\n<TitleType>01</TitleType>\n<TitleElement>\n<TitleElementLevel>02</TitleElementLevel>\n<TitleText>\xC9tudes
        luxembourgeoises / Luxemburg-Studien</TitleText>\n</TitleElement>\n</TitleDetail>\n</Collection>\n<TitleDetail>\n<TitleType>01</TitleType>\n<TitleElement>\n<TitleElementLevel>This
        should be removed after processing</TitleElementLevel>\n<TitleText>Identitaetsbildung
        und Partizipation im 19. und 20. Jahrhundert</TitleText>\n<Subtitle>Luxemburg
        im europaeischen Kontext</Subtitle>\n</TitleElement>\n</TitleDetail>\n<Contributor>\n<SequenceNumber>1</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n<NamesBeforeKey>Norbert</NamesBeforeKey>\n<KeyNames>Franz</KeyNames>\n</Contributor>\n<Contributor>\n<SequenceNumber>2</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n<NamesBeforeKey>Thorsten</NamesBeforeKey>\n<KeyNames>Fuchshuber</KeyNames>\n</Contributor>\n<Contributor>\n<SequenceNumber>3</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n<NamesBeforeKey>Sonja</NamesBeforeKey>\n<KeyNames>Kmec</KeyNames>\n</Contributor>\n<Contributor>\n<SequenceNumber>4</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n<NamesBeforeKey>Jean-Paul</NamesBeforeKey>\n<KeyNames>Lehners</KeyNames>\n</Contributor>\n<Contributor>\n<SequenceNumber>5</SequenceNumber>\n<ContributorRole>B01</ContributorRole>\n<NamesBeforeKey>Ren\xE9e</NamesBeforeKey>\n<KeyNames>Wagener</KeyNames>\n</Contributor>\n<Language>\n<LanguageRole>01</LanguageRole>\n<LanguageCode>ger</LanguageCode>\n</Language>\n<Extent>\n<ExtentType>00</ExtentType>\n<ExtentValue>455</ExtentValue>\n<ExtentUnit>03</ExtentUnit>\n</Extent>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n<SubjectCode>HBTB</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n<SubjectCode>HD</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n<SubjectCode>JFSJ1</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>12</SubjectSchemeIdentifier>\n<SubjectCode>JPA</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>European
        history</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Biography:
        general</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Language
        teaching and learning</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>History</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Social
        and cultural history</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>General
        and world history</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Literature:
        history and criticism</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Literary
        studies: ancient, classical and medieval</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Literary
        theory</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Philosophy</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Politics
        and government</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Civics
        and citizenship</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Political
        science and theory</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Political
        control and freedoms</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Anthropology</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Social
        and cultural anthropology</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Ethnic
        studies</SubjectCode>\n</Subject>\n<Subject>\n<SubjectSchemeIdentifier>20</SubjectSchemeIdentifier>\n<SubjectCode>Gender
        studies: women and girls</SubjectCode>\n</Subject>\n<Audience>\n<AudienceCodeType>01</AudienceCodeType>\n<AudienceCodeValue>06</AudienceCodeValue>\n</Audience>\n</DescriptiveDetail>\n<CollateralDetail>\n<TextContent>\n<TextType>03</TextType>\n<ContentAudience>03</ContentAudience>\n<Text>Gesellschaften
        mit starker Einwanderung kennzeichnen vielf\xE4ltige Formen von Identit\xE4tsbildung
        und das Ringen um politische und zivilgesellschaftliche Partizipation. Dies
        gilt in besonderer Weise f\xFCr Luxemburg im 19. und 20. Jahrhundert. Hier
        entstand in einem Kleinstaat eine der j\xFCngeren Nationen Europas und zugleich
        eine besonders offene, plurikulturelle Einwanderungsgesellschaft. Ziel dieses
        Bandes ist es, die Entstehung dieser Mehr-Kulturen-Gesellschaft im europ\xE4ischen
        Zusammenhang zu verstehen. Die einzelnen Beitr\xE4ge analysieren mit Hilfe
        unterschiedlicher sozial- und kulturwissenschaftlicher Ann\xE4herungen exemplarische
        Konfliktlinien der Identit\xE4tsbildung und des Kampfes um Partizipation.</Text>\n</TextContent>\n<SupportingResource>\n<ResourceContentType>01</ResourceContentType>\n<ContentAudience>00</ContentAudience>\n<ResourceMode>03</ResourceMode>\n<ResourceVersion>\n<ResourceForm>01</ResourceForm>\n<ResourceLink>https://library.oapen.org/bitstream/handle/20.500.12657/42289/9783653064650.pdf.jpg?sequence=3</ResourceLink>\n</ResourceVersion>\n</SupportingResource>\n</CollateralDetail>\n<PublishingDetail>\n<Publisher>\n<PublishingRole>01</PublishingRole>\n<PublisherName>Peter
        Lang International Academic Publishers</PublisherName>\n</Publisher>\n<Publisher>\n<PublishingRole>16</PublishingRole>\n<PublisherName>NOT
        AVAILABLE</PublisherName>\n<Funding>\n<FundingIdentifier>\n<FundingIDType>01</FundingIDType>\n<IDTypeName>programname</IDTypeName>\n<IDValue>NOT
        AVAILABLE</IDValue>\n</FundingIdentifier>\n<FundingIdentifier>\n<FundingIDType>01</FundingIDType>\n<IDTypeName>projectname</IDTypeName>\n<IDValue>NOT
        AVAILABLE</IDValue>\n</FundingIdentifier>\n<FundingIdentifier>\n<FundingIDType>01</FundingIDType>\n<IDTypeName>grantnumber</IDTypeName>\n<IDValue>NOT
        AVAILABLE</IDValue>\n</FundingIdentifier>\n</Funding>\n</Publisher>\n<CityOfPublication>Bern</CityOfPublication>\n<PublishingStatus>00</PublishingStatus>\n<PublishingDate>\n<PublishingDateRole>01</PublishingDateRole>\n<Date
        dateformat=\"05\">2016</Date>\n</PublishingDate>\n</PublishingDetail>\n<RelatedMaterial>\n<RelatedProduct>\n<ProductRelationCode>06</ProductRelationCode>\n<ProductIdentifier>\n<ProductIDType>15</ProductIDType>\n<IDValue>9783653064650</IDValue>\n</ProductIdentifier>\n</RelatedProduct>\n</RelatedMaterial>\n<ProductSupply>\n<SupplyDetail>\n<Supplier>\n<SupplierRole>11</SupplierRole>\n<SupplierName>OAPEN
        Library</SupplierName>\n<Website>\n<WebsiteRole>05</WebsiteRole>\n<WebsiteDescription>OAPEN
        Library: download the title</WebsiteDescription>\n<WebsiteLink>https://library.oapen.org/bitstream/handle/20.500.12657/42289/9783653064650.pdf?sequence=1</WebsiteLink>\n</Website>\n</Supplier>\n<ProductAvailability>99</ProductAvailability>\n<UnpricedItemType>04</UnpricedItemType>\n</SupplyDetail>\n</ProductSupply>\n</Product>\n\n<Product>\n<RecordReference>OAPEN-ID_42606b1b-876f-427d-b8ec-91f9bcaa2a4e</RecordReference>\n<NotificationType>03</NotificationType>\n<RecordSourceType>00</RecordSourceType>\n<ProductIdentifier>\n<ProductIDType>01</ProductIDType>\n<IDTypeName>OAPEN
        Library ID</IDTypeName>\n<IDValue>ONIX_20200527_9781912250134_11</IDValue>\n</ProductIdentifier>\n<ProductIdentifier>\n<ProductIDType>15</ProductIDType>\n<IDValue>97819122[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:48999/v1/datasets?workflow_id=1&limit=1000&key=password
  response:
    body:
      string: "[\n  {\n    \"id\": 1,\n    \"name\": \"Oapen Metadata Dataset\",\n
        \   \"service\": \"bigquery\",\n    \"address\": \"project.dataset.table\",\n
        \   \"created\": \"2022-12-05T01:15:36.049705Z\",\n    \"modified\": \"2022-12-05T01:15:36.049705Z\",\n
        \   \"workflow\": {\n      \"id\": 1,\n      \"name\": \"Oapen Metadata Workflow\",\n
        \     \"extra\": {},\n      \"tags\": null,\n      \"created\": \"2022-12-05T01:15:35.977343Z\",\n
        \     \"modified\": \"2022-12-05T01:15:35.977343Z\",\n      \"workflow_type\":
        {\n        \"id\": 1,\n        \"type_id\": \"oapen_metadata_workflow\",\n
        \       \"name\": \"Oapen Metadata Workflow\",\n        \"created\": \"2022-12-05T01:15:35.938067Z\",\n
        \       \"modified\": \"2022-12-05T01:15:35.938067Z\"\n      },\n      \"organisation\":
        {\n        \"id\": 1,\n        \"name\": \"Curtin Press\",\n        \"project_id\":
        \"project\",\n        \"download_bucket\": \"download_bucket\",\n        \"transform_bucket\":
        \"transform_bucket\",\n        \"created\": \"2022-12-05T01:15:35.957781Z\",\n
        \       \"modified\": \"2022-12-05T01:15:35.957781Z\"\n      }\n    },\n    \"dataset_type\":
        {\n      \"id\": 1,\n      \"type_id\": \"oapen_metadata\",\n      \"name\":
        \"ds type\",\n      \"extra\": {},\n      \"created\": \"2022-12-05T01:15:36.022366Z\",\n
        \     \"modified\": \"2022-12-05T01:15:36.022366Z\",\n      \"table_type\":
        {\n        \"id\": 1,\n        \"type_id\": \"partitioned\",\n        \"name\":
        \"partitioned bq table\",\n        \"created\": \"2022-12-05T01:15:36.006225Z\",\n
        \       \"modified\": \"2022-12-05T01:15:36.006225Z\"\n      }\n    }\n  }\n]\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:48999/v1/dataset_releases?dataset_id=1&limit=1000&key=password
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:39197/v1/dataset_releases?dataset_id=1&limit=1000&key=password
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
