interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discovery.ucl.ac.uk/cgi/stats/get?from=20230601&to=20230630&irs2report=eprint&set_name=eprint&set_value=eprint_id1&datatype=countries&top=countries&view=Table&limit=all&export=JSON
  response:
    body:
      string: '{"timescale":{"format":"YYYYMMDD","to":"20230630","from":"20230601"},"records":[{"value":"GB","count":"14"},{"count":"6","value":"US"},{"count":"4","value":"IT"},{"value":"DE","count":"2"},{"count":"2","value":"AU"},{"value":"HU","count":"1"},{"value":"IN","count":"1"},{"value":"PT","count":"1"}],"origin":{"name":"UCL
        Discovery","url":"https://discovery.ucl.ac.uk"},"set":{"name":"eprint","value":"eprint_id1"}}'
    headers:
      Content-Disposition:
      - attachment; filename=report_2023-07-19.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://discovery.ucl.ac.uk/cgi/stats/get?from=20230601&to=20230630&irs2report=eprint&set_name=eprint&set_value=eprint_id1&datatype=downloads&graph_type=column&view=Google%3A%3AGraph&date_resolution=month&title=Download+activity+-+last+12+months&export=JSON
  response:
    body:
      string: '{"timescale":{"to":"20230630","format":"YYYYMMDD","from":"20230601"},"records":[{"count":"30","datestamp":"202305","description":"May
        2023"}],"origin":{"url":"https://discovery.ucl.ac.uk","name":"UCL Discovery"},"set":{"name":"eprint","value":"eprint_id1"}}'
    headers:
      Content-Disposition:
      - attachment; filename=report_2023-07-19.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discovery.ucl.ac.uk/cgi/stats/get?from=20230601&to=20230630&irs2report=eprint&set_name=eprint&set_value=eprint_id5&datatype=downloads&graph_type=column&view=Google%3A%3AGraph&date_resolution=month&title=Download+activity+-+last+12+months&export=JSON
  response:
    body:
      string: '{"timescale":{"to":"20230630","format":"YYYYMMDD","from":"20230601"},"records":[{"count":"1012","datestamp":"202305","description":"May
        2023"}],"origin":{"url":"https://discovery.ucl.ac.uk","name":"UCL Discovery"},"set":{"name":"eprint","value":"eprint_id5"}}'
    headers:
      Content-Disposition:
      - attachment; filename=report_2023-07-19.json
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
